# Python venv
venv/
**/venv/
env/
**/env/

# Python cache
__pycache__/
*.pyc

# Node
node_modules/
dist/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Node 
node_modules/
dist/

#python 
.venv/
__pycache__/
*.pyc

# Vite
*.log

#build output
backend/static/*
!backend/static/.keep